<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019831171382-5j7221bb5v4sk4ala4a1frprvkcih0cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019831171382-5j7221bb5v4sk4ala4a1frprvkcih0cn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019831171382-0k8nrr3lcnh4f36vc8814sqmdciki8sl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwZpjoBjqOuQI1OW9DA__BVjC170SgbPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1019831171382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tienda.union.pe.tienda-union</string>
	<key>PROJECT_ID</key>
	<string>tiendaunion-d291f</string>
	<key>STORAGE_BUCKET</key>
	<string>tiendaunion-d291f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019831171382:ios:24f773b59beb2f5b951b97</string>
</dict>
</plist>